LaTex_Notebook/main.fdb_latexmk
LaTex_Notebook/main.aux
LaTex_Notebook/main.bbl
LaTex_Notebook/main.fls
LaTex_Notebook/main.lof
LaTex_Notebook/main.log
LaTex_Notebook/main.lot
LaTex_Notebook/main.nlo
LaTex_Notebook/main.out
LaTex_Notebook/main.synctex.gz
LaTex_Notebook/main.pdf